extend ./template.pug

 
block content
  h1 Contact section
  form
  .form-group
  label(for='formGroupExampleInput') E-mail
  input.form-control#formGroupExampleInput(type='text', placeholder='Type E-mail address here')
  .form-group
  label(for='formGroupExampleInput2') Message
  input.form-control#formGroupExampleInput2(type='text', placeholder='Type message here')